.recipes {
  justify-content: flex-start;
  display: grid;
  padding: 20px 0 0 20px;
  margin: 0 auto;
  max-width: 1600px;
}

.recipes--narrow,
.recipes--wide {
  grid-template-columns: repeat(auto-fit, minmax(25%, max-content));
}

@media screen and (max-width: 1366px) {
  .recipes--narrow {
    grid-template-columns: repeat(auto-fit, minmax(33.3%, max-content));
  }
}

@media screen and (max-width: 1200px) {
  .recipes--narrow {
    grid-template-columns: repeat(auto-fit, minmax(50%, max-content));
    max-width: 768px;
  }

  .recipes--wide {
    grid-template-columns: repeat(auto-fit, minmax(33.3%, max-content));
  }
}

@media screen and (max-width: 992px) {
  .recipes--wide {
    grid-template-columns: repeat(auto-fit, minmax(50%, max-content));
    max-width: 768px;
  }

  .recipes--narrow {
    grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
    max-width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .recipes--wide {
    grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
    max-width: 480px;
  }
}
