.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 10px;

  h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .infoIcon {
    position: absolute;
    right: 5px;
    top: 0;
    color: gray;
    cursor: pointer;
  }

  .signUp__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
