.recipe__processing {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe__container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 62px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.recipe {
    margin: 10px;
    position: relative;
}

.recipe__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe__image {
    object-fit: cover;
    flex: 0.35;
    width: calc(35% - 7px);
    aspect-ratio: 4 / 3;
    outline: 1px solid black;
}

.recipe__info {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    padding-bottom: 10px;
    margin: 0 0 0 20px;
    background-color: whitesmoke;
    outline: 1px solid black;
}

.recipe__info > h2 {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.recipe__title {
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
    word-break: break-all;
    padding: 0 5px;
    max-height: 200px;
    overflow: hidden;
}

.recipe__infoBottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.recipe__author {
    display: flex;
    align-items: center;
}

.recipe__author > p {
    margin-right: 10px;
}

.recipe__author > .MuiAvatar-root {
    width: 30px !important;
    height: 30px;
}

.recipe__likes {
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.recipe__likes > p {
    margin-left: 5px;
}

.recipe__likes > .MuiSvgIcon-root {
    cursor: pointer;
}

.recipe__timeContainer {
    display: flex;
    align-items: center;
}

.recipe__time {
    margin-left: 5px;
}

.recipe__delete {
    cursor: pointer;
}

.recipe__body {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.recipe__method > h2 {
    font-size: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.recipe__ingredients {
    flex: 0.35;
    outline: 1px solid black;
    margin-right: 15px;
}

.recipe__ingredientsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe__ingredientsHeader > h2 {
    font-size: 15px;
    padding: 10px;
    flex: 1;
}

.recipe__portions {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.recipe__portions > p {
    font-size: 15px;
    margin-left: 5px;
    color: black;
    font-weight: 500;
}

.recipe__method {
    flex: 0.65;
    background-color: whitesmoke;
    outline: 1px solid black;
}

.recipe__ingredientsList {
    font-size: 14px;
    padding: 10px 10px 10px 25px;
}

.recipe__steps {
    padding: 10px 10px 10px 25px;
    font-size: 14px;
    list-style-type: decimal;
}

.recipe__ingredientsList > li {
    margin-bottom: 5px;
    word-break: break-word;
}

.recipe__steps > li {
    margin-bottom: 5px;
    word-break: break-word;
}

@media screen and (max-width: 980px) {
    .recipe__info > h1 {
        font-size: 15px;
        padding: 2px;
    }
}

@media screen and (max-width: 600px) {
    .recipe__container {
        height: calc(100vh - 105px);
    }

    .recipe {
        margin: 0 0 10px 0;
    }

    .recipe__container::-webkit-scrollbar {
        display: none;
    }

    .recipe__info {
        width: 100%;
        margin: 0;
    }

    .recipe__upper {
        flex-direction: column;
    }

    .recipe__image {
        width: 100%;
    }

    .recipe__body {
        padding-top: 5px;
        margin: 0;
    }

    .recipe__ingredients {
        margin-right: 5px;
    }
}
