.recipe__processing {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  outline: 1px solid;
  max-width: 750px;
  background-color: whitesmoke;
  height: fit-content;
}

.recipe__title {
  word-break: break-word;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
}

.recipe__main {
  display: flex;
  flex-direction: column;
}

.recipe__image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 4 / 3;
  outline: 1px solid;
}

.recipe__info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.recipe__left > div,
.recipe__right > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recipe__author > p {
  margin-left: 5px;
  font-size: 16px;
}

.recipe__author > .MuiAvatar-root {
  width: 35px;
  height: 35px;
}

.recipe__type > p {
  margin-left: 5px;
  font-size: 16px;
}

.recipe__date {
  margin-left: 5px;
}

.recipe__favorite > .MuiSvgIcon-root {
  cursor: pointer;
}

.recipe__favorite > p {
  margin-left: 5px;
  font-size: 16px;
}

.recipe__body {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
}

.recipe__ingredients {
  flex: 0.35;
  border-right: 1px solid black;
  padding-right: 5px;
}

.recipe__ingredientsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.recipe__ingredientsHeader > h2 {
  font-size: 16px;
  flex: 1;
  padding: 5px;
}

.recipe__portions {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.recipe__portions > p {
  font-size: 14px;
  margin-left: 5px;
  color: black;
  font-weight: 500;
}

.recipe__method > h2 {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid;
  padding: 5px;
}

.recipe__method {
  flex: 0.65;
  padding-left: 5px;
}

.recipe__delete {
  cursor: pointer;
  border-radius: 5px;
}

.recipe__delete:hover {
  background-color: var(--darkgray-background);
}

.recipe__delete > p {
  margin-left: 5px;
  font-size: 16px;
  padding-right: 5px;
}

.recipe__preparation {
  list-style-position: inside;
  padding: 0 5px;
  margin-top: 5px;
}

.recipe__preparation > p {
  margin-top: 8px;
}

.recipe__preparation > p:empty {
  margin: 20px;
}

.recipe__preparation > * > li {
  padding: 2px 0;
}

.recipe__preparation > ul,
ol {
  margin-top: 5px;
}

@media screen and (min-width: 1200px) {
  .recipe__image {
    min-width: 750px;
  }
}

@media screen and (max-width: 800px) {
  .recipe__body {
    flex-direction: column;
  }

  .recipe__ingredients {
    border-right: none;
  }
}

@media screen and (max-width: 600px) {
  .recipe {
    width: 100%;
    margin: 0;
  }

  .recipe__main {
    width: 100%;
  }
}
