.recipesRenderer {
  overflow-y: scroll;
  flex: 1;
  background-color: var(--darkgray-background);
  height: 100%;
  position: relative;

  .recipesRenderer__filtersContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 5px 0;

    .recipesRenderer__filters {
      display: flex;
      align-items: center;
      margin: 0 10px;

      p {
        font-size: 16px;
        font-weight: 400;
        min-width: 60px;
      }
    }

    .recipesRenderer__buttons {
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 15px;
      overflow-x: auto;

      button {
        cursor: pointer;
        padding: 10px 24px;
        text-transform: uppercase;
        background-color: var(--lightgray-background);
        outline: 1px solid;
        border-radius: 5px;
        border: none;
        font-family: inherit;
      }

      .active {
        background-color: var(--color-primary);
      }
    }
  }

  .recipesRenderer__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .recipesRenderer__noData {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .recipesRenderer__loadingMore {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
}
