.recipesRenderer {
  overflow-y: scroll;
  flex: 1;
  height: 100%;
  position: relative;
  padding: 15px 10px;
  background-color: var(--lightgray-background);

  .recipesRenderer__filtersContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 5px;
    outline: 1px solid var(--gray-border);
    box-shadow: var(--box-shadow);
    margin-bottom: 7.5px;

    .recipesRenderer__filters {
      display: flex;
      align-items: center;
      padding: 7px 10px;
      margin: 0 5px;

      &:nth-child(2) {
        border-top: 1px solid var(--gray-border);
      }

      p {
        font-size: 16px;
        font-weight: 400;
        min-width: 60px;
      }
    }

    .recipesRenderer__buttons {
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 15px;
      overflow-x: auto;

      button {
        cursor: pointer;
        padding: 10px 24px;
        text-transform: uppercase;
        background-color: var(--color-primary);
        outline: 1px solid;
        border-radius: 5px;
        border: none;
        font-family: inherit;

        &:hover {
          opacity: 0.9;
          box-shadow: var(--box-shadow);
        }
      }

      .active {
        background-color: var(--color-secondary) !important;
      }
    }
  }

  .recipesRenderer__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .recipesRenderer__noData {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .recipesRenderer__loadingMore {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
}
