@use "/src/sass/variables" as *;
@use "/src/sass/mixins" as m;

.comment {
  display: flex;

  .MuiAvatar-root {
    width: 35px;
    height: 35px;
    margin-top: 5px;

    &:hover {
      opacity: 0.6;
    }
  }

  .comment__wrapper {
    padding: 5px;
    width: 100%;

    .comment__header {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 3px;

      h3 {
        font-size: 16px;
        font-weight: 400;

        &:hover {
          opacity: 0.6;
        }
      }

      p {
        color: $gray-text;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .comment__text {
      flex: 1;
      white-space: wrap;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .comment__userActions {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 8px;

      .MuiSvgIcon-root {
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
