@use "/src/sass/variables" as *;
@use "/src/sass/mixins" as m;

.comment {
  display: flex;

  .MuiAvatar-root {
    width: 35px;
    height: 35px;
    margin-top: 5px;

    &:hover {
      opacity: 0.6;
    }
  }

  .comment__loading {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
  }

  .comment__wrapper {
    padding: 5px;
    width: 100%;

    .comment__header {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 3px;

      h3 {
        font-size: 16px;
        font-weight: 400;

        &:hover {
          opacity: 0.6;
        }
      }

      p {
        color: $gray-text;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .comment__text {
      flex: 1;
      white-space: wrap;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .comment__userActions {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 8px;

      p,
      .MuiSvgIcon-root {
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .comment__repliesWrapper {
      margin-top: 3px;
      user-select: none;

      .comment__repliesHeader {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        color: $gray-text;

        &:hover {
          opacity: 0.6;
        }

        h2 {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}
