.searchResults {
  top: 38px;
  background-color: white;
  padding: 0 10px;
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
