.searchResults {
  top: 38px;
  background-color: var(--lightgray-background);
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  outline: 1px solid black;
}

@media (max-width: 600px) {
  .searchResults {
    top: 48px;
    max-height: none;
    height: calc(100vh - 110px);
  }
}
