@use "./../../../sass/variables" as *;
@use "./../../../sass/mixins" as m;

.authInput {
  margin-bottom: 7px;
  width: 100%;

  .authInput__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    outline: 1px solid $gray-border;
    border-radius: 10px;
    background-color: $lightgray-background;

    .authInput__labelIcon {
      color: $gray-border;
      margin: 0 5px;
      font-size: 18px !important;
    }

    input {
      outline: none;
      border: none;
      background-color: $lightgray-background;
      padding: 12px 2px;
      flex: 1;
      font-family: "Montserrat", sans-serif;
    }

    .visibilityIcon {
      margin-right: 5px;
      cursor: pointer;
      position: absolute;
      right: 5px;
    }
  }

  .authInput__wrapper--invalid {
    outline: 1px solid $error;

    .authInput__labelIcon,
    input {
      color: $error;
    }
  }

  .authInput__infoContainer {
    display: flex;
    flex-direction: column;
    padding: 2.5px 5px 5px;
    gap: 2.5px;

    .authInput__info {
      font-size: 12px;
      font-weight: 500;
      color: $gray-text;
      background-color: $white;
    }
  }
}
