@use "./../../sass/variables" as *;
@use "./../../sass/mixins" as m;

.auth {
  @include m.borders;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 80%;
  height: fit-content;

  .auth__logo {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $gray-border;
    width: 100%;
    text-align: center;
  }

  .auth__loading {
    width: fit-content;
  }

  .auth__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;

    .auth__link {
      .span {
        color: $link;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 5px;
      }
    }
  }

  .errors {
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
}
