@use "./variables" as *;

@mixin pop-up {
  background-color: $white;
  outline: 1px solid $gray-border;
  box-shadow: $box-shadow;
  padding: 5px;
  border-radius: 10px;
}

@mixin legend {
  font-size: 18px;
  color: $gray-text;
  font-weight: 500;
  margin-left: 7px;
  padding: 0 2.5px;
}

@mixin input {
  border: 1px solid $gray-border;
  outline: none;
  border-radius: 10px;

  &:focus-within {
    border: 2px solid $color-secondary;
    margin: -1px;

    legend {
      color: black;
      opacity: 0.8;
    }
  }
}

@mixin fromHTML {
  font-size: 16px;
  list-style-position: inside;
  margin-top: 2px;

  p {
    padding-top: 8px;

    &:empty {
      margin: 5px;
    }
  }

  a {
    color: $link;
  }

  ul,
  ol {
    margin-top: 5px;
  }

  * {
    li {
      margin: 5px 0;
    }
  }
}
