@use "./variables" as *;

@mixin pop-up {
  background-color: $white;
  outline: 1px solid $gray-border;
  box-shadow: $box-shadow;
  padding: 5px;
  border-radius: 10px;
}

@mixin legend {
  font-size: 18px;
  color: $gray-text;
  font-weight: 500;
  margin-left: 7px;
  padding: 0 2.5px;
}

@mixin input {
  border: 1px solid $gray-border;
  outline: none;
  border-radius: 10px;

  &:focus-within {
    border: 2px solid $color-secondary;
    margin: -1px;

    legend {
      color: black;
      opacity: 0.8;
    }
  }
}
