@use "./../../sass/mixins" as m;
@use "./../../sass/variables" as *;

.langSelector {
  @include m.borders;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: -70px;
  z-index: 999;
  padding: 10px;
  min-width: 180px;
  cursor: default;

  .langSelector__text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .langSelector__languages {
    display: flex;
    gap: 5px;
    flex-direction: column;

    .langSelector__language {
      font-size: 16px;
      display: flex;
      align-items: center;

      input {
        cursor: pointer;
      }

      p {
        margin-left: 5px;
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
