.noData {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.noData > .MuiSvgIcon-root {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.noData > h4 {
    text-align: center;
}
