.noData__container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--color-primary);
  border: 1px solid;
}

.noData > .MuiSvgIcon-root {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.noData > h4 {
  text-align: center;
  font-weight: 500;
}
