.processingIcon {
    position: absolute;
    z-index: 99;
}

.createRecipe__container {
    height: 100%;
    width: 100vw;
    background-color: rgb(231, 175, 20, 0.9);
    position: fixed;
    z-index: 999;
    display: grid;
    place-items: center;
    top: 0;
}

.createRecipe__upper {
    display: flex;
}

.createRecipe__image {
    width: 400px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.createRecipe__imageInput {
    position: absolute;
    width: 400px;
    object-fit: cover;
    height: 300px;
    opacity: 0;
    cursor: pointer;
}

.createRecipe__imageInput::-webkit-file-upload-button {
    cursor: pointer;
}

.createRecipe__image > img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.createRecipe__image > p {
    position: absolute;
    bottom: 10%;
    color: gray;
}

.createRecipe__image > .MuiSvgIcon-root {
    position: absolute;
    bottom: 20%;
    color: rgb(231, 175, 20, 0.9) !important;
    border: 1px solid black;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.createRecipe {
    background-color: whitesmoke;
    width: 65%;
    height: 85%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    position: relative;
}

.createRecipe > .MuiSvgIcon-root {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 30px !important;
}

.createRecipe__info {
    margin-left: 15px;
    flex: 1;
}

.createRecipe__title {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.createRecipe__title > input {
    outline: none;
}

.createRecipe__body {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.createRecipe__ingredientsText {
    flex: 0.35;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.createRecipe__methodText {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.createRecipe__body > div > textarea {
    height: 100%;
    resize: none;
    outline: none;
}

.createRecipe__button {
    background-color: #e7af14;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75px;
}

@media screen and (max-width: 950px) {
    .createRecipe {
        overflow: scroll;
        width: 80%;
        height: 80%;
    }

    .createRecipe::-webkit-scrollbar {
        display: none;
    }

    .createRecipe__upper {
        flex-direction: column;
        margin-top: 20px;
    }

    .createRecipe__info {
        margin-top: 10px;
        margin-left: 0px;
    }

    .createRecipe__body {
        flex-direction: column;
    }

    .createRecipe__image {
        margin: 0 auto;
    }

    .createRecipe__ingredientsText {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .createRecipe__body > div > textarea {
        height: 200px;
    }
}

@media screen and (max-width: 450px) {
    .createRecipe__imageInput,
    .createRecipe__image,
    .createRecipe__image > img {
        width: 250px;
        height: 187.5px;
    }

    .createRecipe__image > p {
        font-size: 10px;
    }

    .createRecipe__image > .MuiSvgIcon-root {
        width: 20px;
        height: 20px;
    }
}
