@use "/src/sass/variables" as *;

.wide {
  background-color: $lightgray-background;

  .wide__wrapper {
    display: flex;
    height: calc(100vh - 60px);
    background-color: inherit;

    @media (max-width: 600px) {
      height: calc(100vh - 106px);
    }
  }
}
