@use "/src/sass/variables" as *;

.textarea {
  display: flex;
  flex-direction: column;

  label {
    font-size: 18px;
  }

  textarea {
    resize: none;
    outline: none;
    padding: 5px;
    background-color: $gray-background;
    border: 1px solid;
  }
}
