.textarea {
  display: flex;
  flex-direction: column;

  label {
    font-size: 18px;
  }

  textarea {
    resize: none;
    outline: none;
    padding: 5px;
    background-color: var(--gray-background);
    border: 1px solid;
  }
}
