.sidebar__option {
  display: flex;
  align-items: center;
  padding: 15px 12.5px;
  background-color: inherit;
}

.sidebar__option--narrow {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 8px;
  height: 65px;
  justify-content: center;
}

.sidebar__option--narrow > h2 {
  font-size: 10px;
  font-weight: 500;
}

.sidebar__option--narrow > .MuiSvgIcon-root {
  width: 25px;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

.selected .sidebar__option--narrow,
.selected .sidebar__option {
  background-color: var(--color-secondary);
}

.sidebar__option:hover,
.sidebar__option--narrow:hover {
  cursor: pointer;
  background-color: var(--color-hover);
  transition: 0.3s ease-in-out;
}

.selected .sidebar__option:hover,
.selected .sidebar__option--narrow:hover {
  background-color: var(--color-secondary);
}

.sidebar__option > h2 {
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}

.sidebar__option--hidden {
  opacity: 0.8;
  color: rgb(170, 170, 170);
}

@media screen and (max-width: 600px) {
  .sidebar__option {
    justify-content: center;
  }
}
