.main {
  background-color: rgb(247, 247, 247);

  .main__wrapper {
    display: flex;
    height: calc(100vh - 62px);
    background-color: inherit;

    .main__body {
      height: inherit;
      overflow: hidden;
      flex: 1;
      background-color: inherit;
    }

    .main__refresh {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }

    @media (max-width: 600px) {
      height: calc(100vh - 157px);
    }
  }
}
