.searchInput {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--lightgray-background);
  border-right: 1px solid var(--black);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
