@use "/src/sass/variables" as *;

.searchInput {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: $lightgray-background;
  border-right: 1px solid $black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
