@use "/src/sass/variables" as *;
@use "/src/sass/mixins" as m;

.special,
.type {
  label {
    font-size: 18px;
  }

  .select {
    &__control {
      padding: 0;
      border: none;
      background-color: $lightgray-background;
      outline: 1px solid $gray-border !important;
      cursor: pointer;
      border-radius: 5px;

      &--is-focused {
        outline: 2px solid $color-secondary !important;
      }
    }

    &__menu {
      outline: 1px solid $gray-border;
    }

    &__option {
      background-color: white;
      padding: 10px;

      &--is-focused,
      &:active {
        background-color: $gray-hover;
        cursor: pointer;
      }
    }
  }
}
