@use "/src/sass/variables" as *;

.searchResults {
  width: 100%;

  .searchResults__headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    background-color: $color-primary;
    border-top: 1px solid;
    margin-top: -1px;

    p {
      font-weight: 500;
    }
  }

  .searchResults__none {
    padding: 15px 10px;
    background-color: $lightgray-background;
  }
}
