.searchResults {
  background-color: var(--lightgray-background);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 400px;
}

@media (max-width: 600px) {
  .searchResults {
    height: 100%;
  }
}
