.searchResults {
  width: 100%;

  .searchResults__headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    background-color: var(--color-primary);
    border-top: 1px solid;
    margin-top: -1px;
  }

  .searchResults__none {
    padding: 15px 10px;
  }
}
