@use "./../../sass/variables" as *;
@use "./../../sass/mixins" as m;

.topUsers {
  width: 100%;
  display: flex;
  gap: 20px;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  .users {
    width: 100%;

    h2 {
      font-weight: 500;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: -5px;
      padding: 10px 15px 0;
    }

    .usersProfiles {
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-height: 300px;
      gap: 10px;
      padding: 20px;
      border-radius: 10px;

      .userProfile {
        @include m.borders;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid $gray-border;

        &:hover {
          background-color: $gray-hover;
          border-radius: 10px;
        }

        .userProfile__profilePic {
          height: 30px;
          width: 30px;
        }

        h3 {
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}
