@use "./../../sass/variables" as *;
@use "./../../sass/mixins" as m;

.homepage {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  flex: 1;

  .homepage__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
  }
}
