@use "/src/sass/variables" as *;

.recipePage {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: $lightgray-background;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .recipePage__wrapper {
    padding: 20px 20px 40px;
    height: fit-content;
    min-height: 100%;
    display: flex;
    width: 100%;
    gap: 20px;
    max-width: 1500px;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
}
