.recipePage__container {
  display: flex;
  justify-content: center;
  background-color: var(--darkgray-background);
  height: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 600px) {
  .recipePage__container {
    height: calc(100vh - 110px);
  }

  .recipePage__container::-webkit-scrollbar {
    display: none;
  }
}
