@use "/src/sass/variables" as *;

.recipePage {
  display: flex;
  justify-content: center;
  background-color: $lightgray-background;
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  ::-webkit-scrollbar {
    display: none;
  }

  .recipePage__wrapper {
    margin: 10px;
    height: fit-content;
    display: flex;
    width: 100%;
    gap: 10px;
    max-width: 1500px;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
}
