@use "/src/sass/variables" as *;

.newRecipe {
  height: 100%;
  width: 100%;

  .newRecipe__body {
    background-color: $color-primary;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .newRecipe__button {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      justify-content: center;
      max-width: 100px;
    }

    .input,
    .special,
    .editor,
    .select,
    .picture {
      margin-bottom: 10px;
    }
  }
}
