.button {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.button--secondary {
  background-color: whitesmoke;
}

.button--primary {
  background-color: var(--color-secondary);
}
