@use "/src/sass/variables" as *;
@use "/src/sass/mixins" as m;

.settings {
  overflow-y: auto;
  flex: 1;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 20px;

  .settings__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 200px;
  }

  .settings__button {
    width: 90px;
    float: right;
  }

  .settings__container {
    @include m.borders;
    max-width: 992px;
    width: 100%;
    padding: 20px;

    .settings__form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .settings__errors {
        list-style-type: none;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
      }

      .settings__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) {
          flex-direction: column;
        }

        .settings__title {
          font-size: 20px;
          font-weight: 500;
          color: $gray-text;
          flex: 0.3;
          margin-right: 5px;

          @media (max-width: 600px) {
            margin-bottom: 3px;
            margin-right: 0;
          }

          span {
            margin-left: 10px;

            .settings__infoIcon {
              cursor: pointer;
              height: 24px;
              margin-bottom: -4px;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }

        .settings__handlers {
          flex: 0.7;
        }
      }
    }
  }
}
