.card {
    display: flex;
    flex-direction: column;
    width: calc((100vw - 395px) / 3);
    margin: 0px 20px 20px 0px;
}

.card > img {
    object-fit: cover;
    height: calc((100vw - 395px) / 3 / 1.33);
}

.card:hover {
    transform: scale(1.025);
    cursor: pointer;
    opacity: 0.8;
}

.card--wide {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 0px;
    width: calc((100vw - 160px) / 3);
}

.card--wide > img {
    object-fit: cover;
    height: calc((100vw - 160px) / 3 / 1.33);
}

.card--wide:hover {
    transform: scale(1.025);
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .card {
        width: calc((100vw - 375px) / 2);
    }

    .card > img {
        height: calc((100vw - 375px) / 2 / 1.33);
    }

    .card--wide {
        width: calc((100vw - 140px) / 2);
    }

    .card--wide > img {
        height: calc((100vw - 140px) / 2 / 1.33);
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: calc((100vw - 355px));
    }

    .card > img {
        height: calc((100vw - 355px) / 1.33);
    }
}

@media screen and (max-width: 600px) {
    .card--wide {
        width: calc((100vw - 120px));
    }

    .card--wide > img {
        height: calc((100vw - 120px) / 1.33);
    }
}

@media screen and (max-width: 800px) and (max-height: 450px) {
    .card {
        width: calc((100vw - 355px) / 2);
    }

    .card > img {
        height: calc((100vw - 355px) / 2 / 1.33);
    }

    .card--wide {
        width: calc((100vw - 115px) / 2);
    }

    .card--wide > img {
        height: calc((100vw - 115px) / 2 / 1.33);
    }
}

/* .card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    position: relative;
    width: 400px;
    box-sizing: border-box;
} */

/*
.card__info {
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.card > h1 {
    position: absolute;
    opacity: 0.75;
    background-color: green;
    border: 1px solid;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    right: 0;
    color: white;
}

.card__info > h1 {
    font-size: 12px;
    padding: 5px;
}

.card__user {
    padding: 5px;
    margin-right: 5px;
}

.card__user > .MuiAvatar-root {
    width: 25px;
    height: 25px;
    margin: 2.5px;
}

.card__user > p {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
} */
