.card {
    position: relative;
    outline: 1px solid;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 0px;
    width: calc(100% - 20px);
}

.hidden > div {
    display: none;
}

.card > h2 {
    position: absolute;
    font-size: 12px;
    right: 5px;
    top: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}

.card > img {
    object-fit: cover;
    aspect-ratio: 4 / 3;
    width: 100%;
}

.card__info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: whitesmoke;
}

.card__info > h1 {
    font-size: 14px;
    flex: 1;
    text-align: center;
}

.card__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2%;
}

.card__user > p {
    font-size: 12px;
}

.card__user > .MuiAvatar-root {
    width: 25px !important;
    height: 25px;
}

.card:hover {
    opacity: 0.8;
    transform: scale(1.025);
    transition: ease-in 0.2s;
}

@media screen and (max-width: 1400px) {
    .card__info > h1 {
        font-size: 10px;
    }
}
