.card {
    position: relative;
    outline: 1px solid;
}

.card > h2 {
    position: absolute;
    font-size: 12px;
    right: 5px;
    top: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}

.card__info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: whitesmoke;
}

.card__info > h1 {
    font-size: 14px;
    flex: 1;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .card__info > h1 {
        font-size: 10px;
    }
}

.card__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2%;
}

.card__user > p {
    font-size: 12px;
}

.card__user > .MuiAvatar-root {
    width: 25px !important;
    height: 25px;
}

.card--narrow {
    display: flex;
    flex-direction: column;
    width: calc((100vw - 395px) / 3);
    margin: 0px 20px 20px 0px;
}

.card--narrow > img {
    object-fit: cover;
    height: calc((100vw - 395px) / 3 / 1.33);
}

.card:hover {
    transform: scale(1.025);
    cursor: pointer;
    opacity: 0.8;
    transition: ease-in 0.2s;
}

.card--wide {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 0px;
    width: calc((100vw - 160px) / 3);
}

.card--wide > img {
    object-fit: cover;
    height: calc((100vw - 160px) / 3 / 1.33);
}

@media screen and (max-width: 1024px) {
    .card--narrow {
        width: calc((100vw - 375px) / 2);
    }

    .card--narrow > img {
        height: calc((100vw - 375px) / 2 / 1.33);
    }

    .card--wide {
        width: calc((100vw - 140px) / 2);
    }

    .card--wide > img {
        height: calc((100vw - 140px) / 2 / 1.33);
    }
}

@media screen and (max-width: 800px) {
    .card--narrow {
        width: calc((100vw - 355px));
    }

    .card--narrow > img {
        height: calc((100vw - 355px) / 1.33);
    }
}

@media screen and (max-width: 600px) {
    .card--wide {
        width: calc((100vw - 120px));
    }

    .card--wide > img {
        height: calc((100vw - 120px) / 1.33);
    }
}

@media screen and (max-width: 800px) and (max-height: 450px) {
    .card--narrow {
        width: calc((100vw - 355px) / 2);
    }

    .card--narrow > img {
        height: calc((100vw - 355px) / 2 / 1.33);
    }

    .card--wide {
        width: calc((100vw - 115px) / 2);
    }

    .card--wide > img {
        height: calc((100vw - 115px) / 2 / 1.33);
    }
}
