.card {
  position: relative;
  outline: 1px solid;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0px 20px 20px 0px;
  width: calc(100% - 20px);
  height: fit-content;
}

.card:hover {
  opacity: 0.8;
  transform: scale(1.025);
  transition: ease-in 0.2s;
}

.hidden > *,
.hidden > div {
  display: none;
}

.card > img {
  object-fit: cover;
  aspect-ratio: 4 / 3;
  width: 100%;
}

.card__body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: whitesmoke;
  border-top: 1px solid;
  padding: 5px;
  height: 110px;
}

.card__title {
  font-size: 18px;
  font-weight: 500;
  word-break: break-word;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.card__dataContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  gap: 5px;
}

.card__data {
  display: flex;
  align-items: center;
}

.card__infoContainer {
  display: flex;
  align-items: center;
}

.card__timestamp {
  margin: 0 7px;
}

.card__timestamp::before {
  content: "|";
  margin-right: 5px;
}

.card__text {
  margin-left: 3px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(114, 114, 114);
}

.card__icon {
  width: 20px !important;
  height: 20px !important;
}

@media (max-width: 600px) {
  .card__body {
    height: 100px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__text {
    font-size: 12px;
  }
}
