@use "/src/sass/variables" as *;
@use "/src/sass/mixins" as m;

.moreRecipes {
  @include m.borders;
  position: relative;
  width: 100%;
  flex: 0.2;
  padding: 10px;

  h1 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid $gray-border;
  }

  .moreRecipes__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    padding: 0 20px;

    @media (max-width: 992px) {
      position: static;
      top: 0;
      left: 0;
      transform: none;
      margin: 0 auto;
    }
  }

  .moreRecipes__cards {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 40px);
    width: 100%;
    gap: 15px;
    background-color: $lightgray-background;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (max-width: 992px) {
      flex-direction: row;
      overflow-x: auto;
      border-radius: 0;
    }
  }
}
