.searchHits {
  height: 100%;
}

.searchHits__container {
  height: 100%;
}

.searchHit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 5px;
  border-bottom: 1px solid lightgray;
}

.searchHit__recipeImg {
  height: 50px;
  aspect-ratio: 4 / 3;
}

.searchHit__profileImg {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.searchHit__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
}

.searchHit__type {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.6;
}

.searchHit:hover {
  background-color: rgb(231, 231, 231);
}

.searchHits__button {
  padding: 10px;
}

@media (max-width: 600px) {
  .searchHits {
    max-height: calc(100% - 52px);
  }
}
