.searchBar {
    display: flex;
    padding: 5px;
    background-color: var(--color-primary);
    border-bottom: 1px solid;
}

.searchBar__onHeader {
    display: flex;
    flex: 1;
    max-width: 500px;
}

.searchInput {
    height: 10px;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: var(--gray-background);
}

.searchIcon {
    padding: 5px;
    height: 20px !important;
    background-color: var(--color-secondary);
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
