.searchBar {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-primary);
  outline: 1px solid;
  padding: 5px;
  z-index: 2;
}

.searchBar__onHeader {
  display: flex;
  flex-direction: column;
  position: relative;
  outline: 1px solid;
  outline-offset: -1px;
  flex: 1;
  max-width: 480px;
}

.searchBar__container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--lightgray-background);
}

.searchBar__resultsContainer {
  position: absolute;
  top: 34px;
  z-index: 3;
  left: 0;
  right: 0;
  background-color: var(--lightgray-background);
  outline: 1px solid;
  outline-offset: -1px;
  max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100%);
}

.searchIcons__container {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 7.5px;
}

.searchIcon {
  font-size: 18px !important;
}

@media (max-width: 600px) {
  .searchBar__container {
    outline: 1px solid;
    border-radius: 2.5px;
  }
}

@media (max-width: 600px) {
  .searchBar__resultsContainer {
    top: 48px;
    height: calc(100vh - 110px);
  }
}
