@use "/src/sass/variables" as *;

.searchBar {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $color-primary;
  outline: 1px solid $gray-border;
  padding: 5px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2.5px 5px 0px;
}

.searchBar__onHeader {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  outline-offset: -1px;
  flex: 1;
  max-width: 480px;
}

.searchBar,
.searchBar__onHeader {
  .searchBar__container {
    display: flex;
    align-items: center;
    outline: 1px solid $gray-border;
    width: 100%;
    background-color: $lightgray-background;
    border-radius: 5px;

    &:focus-within {
      outline: 2px solid $color-secondary;
      box-shadow: $box-shadow;
    }

    .searchIcons__container {
      background-color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 0 7.5px;
      height: 100%;

      .searchIcon {
        font-size: 18px !important;
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
