.searchBar {
  display: flex;
  background-color: var(--color-primary);
  border-bottom: 1px solid;
  padding: 5px;
}

.searchBar__onHeader {
  display: flex;
  flex: 1;
  max-width: 500px;
}

.searchInput {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: var(--lightgray-background);
}

.searchIcon__container {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid black;
  background-color: var(--color-secondary);
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  font-size: 18px !important;
}
