.searchBar {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-primary);
  border-bottom: 1px solid;
  padding: 5px;
}

.searchBar__onHeader {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 500px;
  position: relative;
}

.searchBar__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchIcon__container {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid black;
  background-color: var(--color-secondary);
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.searchIcon {
  font-size: 18px !important;
}

.searchIcon__container:hover {
  opacity: 0.8;
}
