.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #efefef;
    border-bottom: 1px solid black;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 10px;
}

.header__left > .MuiSvgIcon-root {
    cursor: pointer;
}

.header__left > h2 {
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
}

.header > button {
    background-color: #e7af14;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
    width: 75px;
}

.header__avatar {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.header__profilePopup > .MuiSvgIcon-root {
    margin-left: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .header > button {
        margin: 0;
    }
}
