.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--color-primary);
  border-bottom: 1px solid black;
}

.header__left {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 20px;
}

.header__left > .MuiSvgIcon-root {
  cursor: pointer;
}

.header__left > .MuiSvgIcon-root:hover {
  opacity: 0.8;
}

.header__logo {
  margin-left: 5px;
  height: 100%;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header__profilePopup {
  margin-left: 15px;
  cursor: pointer;
}

.header__avatarIcon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 10px 5px;
  }
}
