@use "/src/sass/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: $color-primary;
  border-bottom: 1px solid $gray-border;

  .header__left {
    display: flex;
    align-items: center;
    margin-right: 10px;

    .MuiSvgIcon-root {
      cursor: pointer;

      :hover {
        opacity: 0.8;
      }
    }

    .header__logo {
      margin-left: 5px;
      height: 100%;
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    margin-left: 10px;

    .header__language {
      cursor: pointer;
      margin-right: 15px;
      position: relative;
      user-select: none;
    }

    .popup {
      margin-left: 15px;
      cursor: pointer;

      .avatarIcon {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding: 10px 5px;
    box-shadow: none;
    margin-bottom: 0px;
  }
}
