.loadingPage {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingPage__logo {
  margin-top: 20px;
}
