@use "/src/sass/variables" as *;
@use "/src/sass/mixins" as m;

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-size: 18px;
  }

  input {
    @include m.input;
    min-height: 38px;
  }
}
