@use "/src/sass/variables" as *;

.input {
  display: flex;
  flex-direction: column;

  label {
    font-size: 18px;
  }

  input {
    outline: none;
    min-height: 38px;
    padding: 5px;
    background-color: $lightgray-background;
    border: 1px solid;
  }
}
