.searchHit {
  display: flex;
  align-items: center;
  padding: 5px 0;
  gap: 5px;
  border-bottom: 1px solid lightgray;
}

.searchHit__img {
  height: 50px;
  aspect-ratio: 4 / 3;
}

.searchHit:hover {
  background-color: whitesmoke;
}

.searchHits__button {
  padding: 5px 0;
}
