.signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

.signUp > h3 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.signUp__inputInfo {
    font-size: 12px;
    font-weight: 500;
    color: gray;
}

.signUp__infoIcon {
    position: absolute;
    right: 5px;
    top: 3px;
    color: gray;
    cursor: pointer;
}

.signUp__buttons {
    display: flex;
    justify-content: space-between;
}

.signUp__buttons > button {
    border-radius: 2px;
    padding: 11px 8px;
    cursor: pointer;
    outline: none;
    border: thin solid;
    font-size: 14px;
    width: 48%;
}
