.sidebar {
    width: 300px;
    background-color: var(--orange-medium);
    border-right: 1px solid black;
}

.sidebar--hidden {
    width: fit-content;
    background-color: var(--orange-medium);
    border-right: 1px solid black;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
    }

    .sidebar--hidden {
        display: none;
    }
}
