.sidebar {
    width: 300px;
    background-color: #efefef;
    border-right: 1px solid black;
}

.sidebar--hidden {
    width: fit-content;
    background-color: #efefef;
    border-right: 1px solid black;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
    }
}

.selected {
    background-color: rgb(128, 128, 128, 0.8);
}
