@use "/src/sass/variables" as *;
@use "../SidebarOption/styles.scss" as m;

.sidebar {
  width: 300px;
  background-color: $lightgray-background;
  margin: 10px 0;
  border-right: 1px solid $gray-border;
  overflow-y: auto;

  .sidebarOption {
    @include m.sidebarOption;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0;
  }
}

.sidebar--narrow {
  width: 90px;
  margin: 10px 0;
  border-right: 1px solid $gray-border;
  background-color: $lightgray-background;
  overflow-y: auto;

  .sidebarOption {
    @include m.sidebarOption--narrow;
  }
}

.sidebar--hidden {
  display: none;
}

.sidebar,
.sidebar--narrow {
  .MuiSvgIcon-root {
    opacity: 0.9;
  }

  .active {
    .MuiSvgIcon-root {
      stroke-width: 0.5;
      stroke: black;
      opacity: 1;
    }
  }

  .orange {
    .MuiSvgIcon-root {
      fill: $color-secondary;
    }
  }

  .teal {
    .MuiSvgIcon-root {
      fill: rgb(4, 161, 161);
      stroke-width: 0.2;
    }
  }

  .red {
    .MuiSvgIcon-root {
      fill: red;
    }
  }

  .darkred {
    .MuiSvgIcon-root {
      fill: rgb(157, 0, 0);
    }
  }

  .active .sidebarOption--narrow,
  .active .sidebarOption .active .sidebarOption:hover,
  .active .sidebarOption--narrow:hover {
    font-weight: 500;
    margin: 5px 10px;
    border-radius: 10px;
    opacity: 1;
  }
}
