.sidebar {
  width: 300px;
  background-color: var(--lightgray-background);
  padding: 10px 0;

  @media (max-width: 600px) {
    width: 100%;
    padding: 0;
  }
}

.sidebar--hidden {
  width: 105px;
  padding: 10px 0;
  background-color: var(--lightgray-background);

  @media (max-width: 600px) {
    display: none;
  }
}

.sidebar,
.sidebar--hidden {
  .MuiSvgIcon-root {
    opacity: 0.9;
  }

  .active {
    .MuiSvgIcon-root {
      stroke-width: 0.5;
      stroke: black;
      opacity: 1;
    }
  }

  .orange {
    .MuiSvgIcon-root {
      fill: var(--color-secondary);
    }
  }

  .teal {
    .MuiSvgIcon-root {
      fill: teal;
      stroke-width: 0.2;
    }
  }

  .red {
    .MuiSvgIcon-root {
      fill: red;
    }
  }

  .darkred {
    .MuiSvgIcon-root {
      fill: rgb(157, 0, 0);
    }
  }

  .active .sidebarOption--narrow,
  .active .sidebarOption .active .sidebarOption:hover,
  .active .sidebarOption--narrow:hover {
    font-weight: 500;
    margin: 5px 10px;
    border-radius: 10px;
    opacity: 1;
  }
}
