@use "/src/sass/variables" as *;
@use "/src/sass/mixins" as m;

.comments {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $gray-border;
  padding: 10px;

  .comments__header {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;

    .comments__sort {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      cursor: pointer;
      padding: 5px;
      border-radius: 10px;

      &:hover {
        background-color: $gray-hover;
      }

      .comments_sortValue {
        text-transform: capitalize;
      }

      .comments__sortFilters {
        @include m.borders;
        display: flex;
        gap: 10px;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 5px);
        right: 0;
        z-index: 999;
        padding: 10px;
        min-width: 180px;
        cursor: default;

        .comments__filter {
          font-size: 16px;
          display: flex;
          align-items: center;

          input {
            cursor: pointer;
          }

          p {
            margin-left: 5px;
          }
        }
      }
    }

    h2 {
      font-size: 16px;
      font-weight: 400;
      padding: 5px 0;
    }
  }

  .comments__input {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: $lightgray-background;
    padding: 10px 10px 10px 5px;
    border-radius: 10px;
    margin: 0 -5px 5px;

    a {
      color: $link;
      font-weight: 500;
    }

    .sendIcon {
      width: 20px;
      height: 20px;
      color: $color-secondary;
      cursor: pointer;
    }

    .avatarIcon {
      width: 35px;
      height: 35px;
    }

    textarea {
      resize: none;
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      padding-bottom: 5px;
      font-size: 16px;
      color: black;
      font-family: "Montserrat", sans-serif;
      border-bottom: 1px solid $gray-border;

      &:focus {
        border-bottom: 2px solid $color-secondary;
      }
    }
  }

  .comments__moreButton {
    max-width: 120px;
    margin: 0 auto;
  }

  .comments__loading {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
}
