.select {
  display: flex;
  flex-direction: column;
  min-height: 38px;

  label {
    font-size: 18px;
  }

  select {
    outline: none;
    min-height: 38px;
    padding: 5px 0;
    background-color: var(--lightgray-background);
    border: 1px solid;
    cursor: pointer;
  }
}
