@use "/src/sass/variables" as *;

.renderer {
  overflow-y: auto;
  flex: 1;
  height: 100%;
  position: relative;
  background-color: $lightgray-background;
  width: 100%;

  .renderer__filtersContainer {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;

    .renderer__filters {
      margin: 20px 20px 10px 20px;
      display: flex;
      flex-direction: column;
      background-color: $white;
      outline: 1px solid $gray-border;
      border-radius: 10px;
      box-shadow: $box-shadow;
    }
  }

  .renderer__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .renderer__noData {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
  }

  .renderer__loadingMore {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
}
