body {
  --orange: #e7af14;
}

.app {
  height: 100vh;
}

.app__main {
  display: flex;
  height: 90vh;
}

.app__menuIcon {
  top: 0;
  position: absolute;
  z-index: 100;
  padding: 14px;
}

.app__menuIcon:hover {
  cursor: pointer;
}