@use "/src/sass/variables" as *;
@use "/src/sass/mixins" as m;

.editor {
  background-color: $color-primary;
  @include m.input;

  legend {
    @include m.legend;
  }

  .wrapper {
    border: none;
    padding: 0;
  }

  .toolbar {
    width: 100%;
    background-color: $color-primary;
    margin: 0;
    border: none;
  }

  .textarea {
    background-color: $lightgray-background;
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
    padding: 5px 10px;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    color: black;
    pointer-events: all;
    cursor: text;

    a {
      color: $link;
    }
  }

  .rdw-inline-wrapper,
  .rdw-link-wrapper,
  .rdw-list-wrapper,
  .rdw-text-align-wrapper {
    margin-bottom: 0;
  }

  .rdw-editor-toolbar {
    padding: 0;
    border-bottom: 1px solid $gray-border;
  }

  .rdw-option-wrapper {
    border: none;
    padding: 15px 10px;
    width: 35px;
    margin: 5px;
    outline: 1px solid $gray-border;
  }

  .rdw-option-wrapper:hover {
    box-shadow: $box-shadow;
    opacity: 0.9;
  }

  .rdw-option-active {
    background-color: $color-secondary;
    box-shadow: $box-shadow;
    outline: 1px solid $gray-border;
  }

  .public-DraftEditor-content .public-DraftStyleDefault-block {
    margin: 7px 0;
  }

  .public-DraftStyleDefault-ol,
  .public-DraftStyleDefault-ul {
    margin: 0;
    padding: 0;
  }

  .public-DraftStyleDefault-ltr {
    text-align: inherit;
  }

  .public-DraftStyleDefault-orderedListItem {
    list-style-type: decimal;
  }

  .public-DraftStyleDefault-unorderedListItem {
    list-style-type: circle;
  }

  .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before {
    left: -30px;
    display: none;
  }
}
