@use "./../../sass/mixins" as m;
@use "./../../sass/variables" as *;

.profilePopup {
  @include m.borders;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 15px;
  top: 55px;
  z-index: 999;
  padding: 10px;
  gap: 10px;
  cursor: default;

  @media (max-width: 600px) {
    right: 5px;
  }

  .profilePopup__action {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;

    .MuiAvatar-root,
    .MuiSvgIcon-root {
      width: 25px;
      height: fit-content;
    }

    &:hover {
      background-color: $gray-hover;
    }

    &:first-child::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      background: $gray-border;
      width: calc(100% - 10px);
      height: 1px;
    }
  }
}
