.renderRecipes__container {
    overflow-y: scroll;
    flex: 1;
}

.renderRecipes__processing {
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.renderRecipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.3%, max-content));
    margin: 20px 0px 0px 20px;
    justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
    .renderRecipes {
        grid-template-columns: repeat(auto-fit, minmax(50%, max-content));
    }
}

@media screen and (max-width: 800px) {
    .renderRecipes--narrow {
        grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
    }
}

@media screen and (max-width: 600px) {
    .renderRecipes {
        grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
    }
}
