.renderRecipes__container {
  overflow-y: scroll;
  flex: 1;
  background-color: var(--darkgray-background);
}

.renderRecipes {
  justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, max-content));
  padding: 20px 0 0 20px;
  margin: 0 auto;
  max-width: 2000px;
}

.renderRecipes__text {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .renderRecipes {
    grid-template-columns: repeat(auto-fit, minmax(33.3%, max-content));
  }
}

@media screen and (max-width: 992px) {
  .renderRecipes {
    grid-template-columns: repeat(auto-fit, minmax(50%, max-content));
  }
}

@media screen and (max-width: 768px) {
  .renderRecipes--narrow {
    grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
  }
}

@media screen and (max-width: 600px) {
  .renderRecipes {
    grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
  }
}
