.editor__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editor__label {
  font-size: 18px;
  margin-bottom: 2px;
}

.editor__wrapper {
  outline: 1px solid black;
}

.editor__toolbar {
  width: 100%;
  background-color: var(--color-secondary);
  margin: 0;
  border: none;
}

.editor__textarea {
  height: 300px;
  background-color: var(--lightgray-background);
  padding: 5px;
  width: 100%;
}

.rdw-inline-wrapper,
.rdw-link-wrapper,
.rdw-list-wrapper,
.rdw-text-align-wrapper {
  margin-bottom: 0;
}

.rdw-editor-toolbar {
  padding: 0;
}

.rdw-option-wrapper {
  border: none;
  padding: 15px 10px;
  width: 35px;
  margin: 5px;
  outline: 1px solid gray;
}

.rdw-option-wrapper:hover {
  box-shadow: none;
  opacity: 0.9;
}

.rdw-option-active {
  background-color: lightgray;
  box-shadow: none;
}

.public-DraftEditor-content .public-DraftStyleDefault-block {
  margin: 7px 0;
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 0;
  padding: 0;
}

.public-DraftStyleDefault-ltr {
  text-align: inherit;
}

.public-DraftStyleDefault-orderedListItem {
  list-style-type: decimal;
}

.public-DraftStyleDefault-unorderedListItem {
  list-style-type: circle;
}

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before {
  left: -30px;
  display: none;
}
